@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.Headline {
  text-align: center;
}


.DateTime {
  font-size: 55px;
  margin: 60px;
  
}
* {
    box-sizing: border-box;
}

body {
  background-color: lightblue;
  margin: 0;
  font-family: "Poppins", sans-serif;
}


.Jokes {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  width: 600px;
  max-width: 100%;
  text-align: center;
}

.Jokes {
  margin-top: 0;
}

.Jokes p {
  margin: 2rem;
}

.Jokes button {
  background-color: deepskyblue;
  border: 0;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: transform 0.1s linear;
}

.Jokes button:active {
  transform: scale(0.95);
}

.Jokes button:focus {
  outline: none;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

